<auth0-container>
  <auth0-error *ngIf="error">{{error}}</auth0-error>
  <div class="login">
    <form layout="label-on-left" >
      <fieldset class="fieldset">
        <h2 class="form__title">Login</h2>
        <div class="form__row">
          <div class="form__field form__field--left">
            <label class="label" for="username">Username</label>
          </div>
          <div class="form__field form__field--right">
            <input #username class="input" type="text" label="Username" placeholder="Your username" (keyup)="handleChange('username', username.value)">
          </div>
        </div>
        <div class="form__row">
          <div class="form__field form__field--left">
            <label class="label" for="password">Password</label>
          </div>
          <div class="form__field form__field--right">
            <input #password class="input" type="password" label="Password" placeholder="Your password" (keyup)="handleChange('password', password.value)">
          </div>
        </div>
        <footer class="form__footer">
          <div class="button-group">
            <auth0-button [primary]="true" (click)="handleLogin($event)">Log in</auth0-button>
          </div>
        </footer>
      </fieldset>
    </form>
  </div>
</auth0-container>
